<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <!-- Reference: http://msdn.microsoft.com/en-us/library/jj159530.aspx -->
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage" uri="datacollector://Microsoft/CodeCoverage/2.0"
                     assemblyQualifiedName="Microsoft.VisualStudio.Coverage.DynamicCoverageDataCollector, Microsoft.VisualStudio.TraceCollector, Version=11.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
        <Configuration>
          <CodeCoverage>
            <ModulePaths>
              <Exclude>
                <!-- Exclude test assemblies from code coverage -->
                <ModulePath>^.*\.Tests(\..*)?\.dll$</ModulePath>
                <ModulePath>^.*FluentAssertions(\..*)?\.dll$</ModulePath>
              </Exclude>
            </ModulePaths>
          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>